@import 'colors';

.game-of-life {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background;
    color: $forground;
}

.blue_btn {
    background-image: -webkit-gradient(
        linear,
        0% 100%,
        0% 0%,
        from(rgb(26, 97, 219)),
        color-stop(0.51, rgb(54, 144, 240)),
        color-stop(0.54, rgb(84, 164, 238)),
        to(rgb(112, 181, 242))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(26, 97, 219) 0%,
        rgb(54, 144, 240) 51%,
        rgb(84, 164, 238) 54%,
        rgb(112, 181, 242) 100%
    );
    background-color: #1c65dc;
}

#fps-counter {
    white-space: pre;
    font-family: monospace;
}
